<div class="bf-container" fxLayout="column" fxLayoutGap="16px" fxLayoutWrap="wrap" fxFlexFill>
    <div fxFlex>
        <table class="table-info">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>CNPJ</th>
                    <th>NOME</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>5533</td>
                    <td>06922869000170</td>
                    <td>PASS TRANSPORTES E SERVICOS AMBIENTAIS LTDA</td>
                </tr>
            </tbody>
        </table>

        <h2 *ngIf="loading" class="thead-supplier">Carregando...</h2>
        <!-- <h2 *ngIf="!model && !loading">Não houve retorno!</h2> -->

        <div fxLayout="row" fxLayoutGap="16px" fxLayoutWrap="wrap">
            <div class="div-container" fxFlex="60" fxFlex.xs="100" fxFlex.sm="100">
                xxx
            </div>
            <div class="div-container" fxFlex="40" fxFlex.xs="100" fxFlex.sm="100">
                xxx
            </div>
        </div>

    </div>
</div>