@import "~@angular/material/theming";
@include mat-core();
@import "variables.scss";
@include angular-material-theme($bv-theme);

$angular-dark-theme: mat-dark-theme(
    (
        color: (
            primary: $bv-palette-primary,
            accent: $bv-palette-accent,
            warn: $bv-palette-warn
        ),
    )
);

.darkMode {
    @include angular-material-color($angular-dark-theme);
}
