<mat-form-field *ngIf="!apenasValor" appearance="outline">
  <mat-label>{{label}}</mat-label>
  <input *ngIf="control" ngDefaultControl matInput currencyMask [formControl]="control" [placeholder]="placeHolder"
    [name]="name" autocomplete="off" [options]="getOptions()">
  <input *ngIf="!control" ngDefaultControl matInput currencyMask [formControlName]="formControlName"
    [placeholder]="placeHolder" [name]="name" autocomplete="off" [options]="getOptions()">
</mat-form-field>

<mat-form-field *ngIf="apenasValor" appearance="outline">
  <input *ngIf="apenasValor" ngDefaultControl matInput currencyMask [placeholder]="placeHolder"
    [name]="name" autocomplete="off" [options]="getOptions()">
</mat-form-field>