.mat-checkbox {
  margin-top: 15px;
}

.cadastro-container {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.justify {
  justify-content: center;
  cursor: pointer;
}

.situacaoForm {
  position: absolute;
  top: 50px;
  right: 35px;
  display: flex;
  align-content: center;
  align-items: center;

  p {
    margin: 0px 0px 11px 10px;
    font-size: 12px;
  }
}
