<div class="bf-container">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">

    <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="50%">
      <mat-card>
        <mat-card-title>
          <div>
            <mat-icon [color]="'primary'">location_on</mat-icon>
          </div>
          <div>Regiões</div>
        </mat-card-title>
        <mat-card-actions>
          <button
            mat-raised-button
            color="primary"
            [style.color]="'white'"
            (click)="onClickRegion()">
            <mat-icon>settings</mat-icon>Configurar
          </button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="50%">
      <mat-card>
        <mat-card-title>
          <div>
            <mat-icon [color]="'primary'">square_foot</mat-icon>
          </div>
          <div>Unidades de Medida</div>
        </mat-card-title>
        <mat-card-actions>
          <button
            mat-raised-button
            color="primary"
            [style.color]="'white'"
            (click)="onClickUnitOfMeasure()">
            <mat-icon>settings</mat-icon>Configurar
          </button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="50%">
      <mat-card>
        <mat-card-title>
          <div>
            <mat-icon [color]="'primary'">attach_money</mat-icon>
          </div>
          <div>Conds. Pagamentos</div>
        </mat-card-title>
        <mat-card-actions>
          <button
            mat-raised-button
            color="primary"
            [style.color]="'white'"
            (click)="onClickPayment()">
            <mat-icon>settings</mat-icon>Configurar
          </button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="50%">
      <mat-card>
        <mat-card-title>
          <div>
            <mat-icon [color]="'primary'">tab</mat-icon>
          </div>
          <div>Marcas</div>
        </mat-card-title>
        <mat-card-actions>
          <button
            mat-raised-button
            color="primary"
            [style.color]="'white'"
            (click)="onClickBrand()">
            <mat-icon>settings</mat-icon>Configurar
          </button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="50%">
      <mat-card>
        <mat-card-title>
          <div>
            <mat-icon [color]="'primary'">group_work</mat-icon>
          </div>
          <div>Grupos</div>
        </mat-card-title>
        <mat-card-actions>
          <button
            mat-raised-button
            color="primary"
            [style.color]="'white'"
            (click)="onClickGroups()">
            <mat-icon>settings</mat-icon>Configurar
          </button>
        </mat-card-actions>
      </mat-card>
    </div>

</div>
