<div class="bf-container" fxLayout="column" fxLayoutGap="16px">
  <div fxFlex="10">
    <div fxLayout="row" fxLayoutGap="16px">
      <div class="col-filter" fxFlex="30">
        <mat-button-toggle-group #group="matButtonToggleGroup" [value]="rdoShowResult" (change)="radioButtonChange(group)">
          <mat-button-toggle value="1">Ativos</mat-button-toggle>
          <mat-button-toggle value="2">Inativos</mat-button-toggle>
          <mat-button-toggle value="3">Todos</mat-button-toggle>
        </mat-button-toggle-group>
        <mat-slide-toggle class="left-10" [(ngModel)]="showReferences" color="primary" mat-tooltip="Referencias"></mat-slide-toggle>
      </div>
      <div class="col-action" fxFlex="50">
        <app-form [(form)]="searchForm" [model]="modelSerarch" [formRows]="formSearch" [useErrors]="false"></app-form>
      </div>
      <div class="col-action" fxFlex="5">
        <button mat-raised-button class="button-menu-top" (click)="onRefreshProds()"
          matTooltip="Limpa seleção e efetua a busca novamente!">
          <mat-icon>bolt</mat-icon>
        </button>
      </div>
      <div class="col-action" fxFlex="5">
        <button mat-raised-button class="button-menu-top" (click)="onSelectAll()"
          matTooltip="Seleciona todos os registros exibidos abaixo!">
          <mat-icon>checklist</mat-icon>
        </button>
      </div>
      <div class="col-action" fxFlex="5">
        <button mat-raised-button class="button-menu-top" (click)="onClearAll()" color="warn"
          matTooltip="Limpa todos os filtros! (Trará todos os registros!)">
          <mat-icon>do_not_touch</mat-icon>
        </button>
      </div>
      <div class="col-action" fxFlex="5">
        <button mat-raised-button class="button-menu-top" [matMenuTriggerFor]="menuProduct" >
          <mat-icon>more_vert</mat-icon>
        </button>
       <mat-menu #menuProduct="matMenu">
         <button mat-menu-item (click)="onCreate()">
            <mat-icon>add</mat-icon>
            <span>Novo Produto</span>
         </button>
          <button mat-menu-item (click)="onExportCsv()">
             <mat-icon>file_download</mat-icon>
             <span>Exportar CSV</span>
          </button>
       </mat-menu>
      </div>
      <mat-progress-bar mode="indeterminate" style="position: absolute;" color="warn" *ngIf="loading"></mat-progress-bar>
    </div>
  </div>
  <div class="scrollable-content" [fxFlex]="!existsSelected ? '84' : '79'">
    <table class="table-info">
      <thead>
        <tr>
          <th class="right col-1">
            <button mat-button (click)="showModalFilter('productId')" [color]="!filterReq.productId ? '' : 'warn'">
              <mat-icon>search</mat-icon>ID BF
              <mat-icon *ngIf="sort.active == 'productId'">{{iconSort}}</mat-icon>
            </button>
          </th>
          <th class="left col-70">
            <button mat-button (click)="showModalFilter('default')" [color]="filterReq.arguments.length > 0 ? 'warn' : ''">
              <mat-icon>search</mat-icon>Produto
              <mat-icon *ngIf="sort.active == 'default' || sort.active == 'productName'">{{iconSort}}</mat-icon>
            </button>
          </th>
          <th class="center col-small">
            <button mat-button [matMenuTriggerFor]="menuGroupName" >Categoria<mat-icon *ngIf="sort.active == 'groupName'">{{iconSort}}</mat-icon></button>
            <mat-menu #menuGroupName="matMenu">
              <button mat-menu-item (click)="onAscendant('groupName')"><mat-icon [color]="sort.active == 'groupName' && sort.direction == 'asc' ? 'primary' : ''">south</mat-icon><span>Ascendente</span></button>
              <button mat-menu-item (click)="onDescendant('groupName')"><mat-icon [color]="sort.active == 'groupName' && sort.direction == 'desc' ? 'primary' : ''">north</mat-icon><span>Descendente</span></button>
            </mat-menu>
          </th>
          <th class="center col-small">
            <button mat-button [matMenuTriggerFor]="menuSubGroupName" >SubCategoria<mat-icon *ngIf="sort.active == 'subGroupName'">{{iconSort}}</mat-icon></button>
            <mat-menu #menuSubGroupName="matMenu">
              <button mat-menu-item (click)="onAscendant('subGroupName')"><mat-icon [color]="sort.active == 'subGroupName' && sort.direction == 'asc' ? 'primary' : ''">south</mat-icon><span>Ascendente</span></button>
              <button mat-menu-item (click)="onDescendant('subGroupName')"><mat-icon [color]="sort.active == 'subGroupName' && sort.direction == 'desc' ? 'primary' : ''">north</mat-icon><span>Descendente</span></button>
            </mat-menu>
          </th>
          <th class="center col-small">
            <button mat-button [matMenuTriggerFor]="menuUnitOfMeasureAcronym" >Un.<mat-icon *ngIf="sort.active == 'unitOfMeasureAcronym'">{{iconSort}}</mat-icon></button>
            <mat-menu #menuUnitOfMeasureAcronym="matMenu">
              <button mat-menu-item (click)="onAscendant('unitOfMeasureAcronym')"><mat-icon [color]="sort.active == 'unitOfMeasureAcronym' && sort.direction == 'asc' ? 'primary' : ''">south</mat-icon><span>Ascendente</span></button>
              <button mat-menu-item (click)="onDescendant('unitOfMeasureAcronym')"><mat-icon [color]="sort.active == 'unitOfMeasureAcronym' && sort.direction == 'desc' ? 'primary' : ''">north</mat-icon><span>Descendente</span></button>
            </mat-menu>
          </th>
          <th class="center col-1-small">
            <button mat-button [matMenuTriggerFor]="menuQuantityCodeSac" >Grupos<mat-icon *ngIf="sort.active == 'quantityCodeSac'">{{iconSort}}</mat-icon></button>
            <mat-menu #menuQuantityCodeSac="matMenu">
              <button mat-menu-item (click)="onAscendant('quantityCodeSac')"><mat-icon [color]="sort.active == 'quantityCodeSac' && sort.direction == 'asc' ? 'primary' : ''">south</mat-icon><span>Ascendente</span></button>
              <button mat-menu-item (click)="onDescendant('quantityCodeSac')"><mat-icon [color]="sort.active == 'quantityCodeSac' && sort.direction == 'desc' ? 'primary' : ''">north</mat-icon><span>Descendente</span></button>
            </mat-menu>
          </th>
          <th class="center col-1-small">
            <button mat-button [matMenuTriggerFor]="menuQuantityQuote" >Cotações<mat-icon *ngIf="sort.active == 'quantityQuote'">{{iconSort}}</mat-icon></button>
            <mat-menu #menuQuantityQuote="matMenu">
              <button mat-menu-item (click)="onAscendant('quantityQuote')"><mat-icon [color]="sort.active == 'quantityQuote' && sort.direction == 'asc' ? 'primary' : ''">south</mat-icon><span>Ascendente</span></button>
              <button mat-menu-item (click)="onDescendant('quantityQuote')"><mat-icon [color]="sort.active == 'quantityQuote' && sort.direction == 'desc' ? 'primary' : ''">north</mat-icon><span>Descendente</span></button>
            </mat-menu>
          </th>
          <th class="center col-1-small">
            <button mat-button [matMenuTriggerFor]="menuQuantityOrder" >Pedidos<mat-icon *ngIf="sort.active == 'quantityOrder'">{{iconSort}}</mat-icon></button>
            <mat-menu #menuQuantityOrder="matMenu">
              <button mat-menu-item (click)="onAscendant('quantityOrder')"><mat-icon [color]="sort.active == 'quantityOrder' && sort.direction == 'asc' ? 'primary' : ''">south</mat-icon><span>Ascendente</span></button>
              <button mat-menu-item (click)="onDescendant('quantityOrder')"><mat-icon [color]="sort.active == 'quantityOrder' && sort.direction == 'desc' ? 'primary' : ''">north</mat-icon><span>Descendente</span></button>
            </mat-menu>
          </th>
          <th class="center col-1-small">
            <button mat-button [matMenuTriggerFor]="menuQuantityCatalog" >Catálogos<mat-icon *ngIf="sort.active == 'quantityCatalog'">{{iconSort}}</mat-icon></button>
            <mat-menu #menuQuantityCatalog="matMenu">
              <button mat-menu-item (click)="onAscendant('quantityCatalog')"><mat-icon [color]="sort.active == 'quantityCatalog' && sort.direction == 'asc' ? 'primary' : ''">south</mat-icon><span>Ascendente</span></button>
              <button mat-menu-item (click)="onDescendant('quantityCatalog')"><mat-icon [color]="sort.active == 'quantityCatalog' && sort.direction == 'desc' ? 'primary' : ''">north</mat-icon><span>Descendente</span></button>
            </mat-menu>
          </th>
          <th class="center col-1-small">
            <button mat-button [matMenuTriggerFor]="menuQuantitySupplier" >Forns<mat-icon *ngIf="sort.active == 'quantitySupplier'">{{iconSort}}</mat-icon></button>
            <mat-menu #menuQuantitySupplier="matMenu">
              <button mat-menu-item (click)="onAscendant('quantitySupplier')"><mat-icon [color]="sort.active == 'quantitySupplier' && sort.direction == 'asc' ? 'primary' : ''">south</mat-icon><span>Ascendente</span></button>
              <button mat-menu-item (click)="onDescendant('quantitySupplier')"><mat-icon [color]="sort.active == 'quantitySupplier' && sort.direction == 'desc' ? 'primary' : ''">north</mat-icon><span>Descendente</span></button>
            </mat-menu>
          </th>
        </tr>
      </thead>
      <tbody *ngFor="let prod of lstProds">
        <tr class="tr-hover" [ngClass]="prod.selected ? 'row-selectd' : ''">
          <td class="center col-1 no-border">
            <button mat-raised-button class="button-small" (click)="onOpenAnalysis(prod)">{{prod.productId}}</button>
          </td>
          <td class="left td-cursor" (click)="onSelectedRow(prod)">
            <p>{{prod.productName}}</p>
            <p *ngIf="showReferences && prod.referencesCode" class="p-codes">{{prod.referencesCode}}</p>
          </td>
          <td [ngClass]="prod.groupId == 1 ? 'center color-error' : 'center blue'">{{prod.groupName}}</td>
          <td [ngClass]="prod.groupId == 1 ? 'center color-error' : 'center blue'">{{prod.subGroupName}}</td>
          <td class="center">{{prod.unitOfMeasureAcronym}}</td>
          <td class="right col-1">{{prod.quantityCodeSac}}</td>
          <td class="right col-1">{{prod.quantityQuote}}</td>
          <td class="right col-1">{{prod.quantityOrder}}</td>
          <td class="right col-1">{{prod.quantityCatalog}}</td>
          <td class="right col-1">{{prod.quantitySupplier}}</td>
          <td class="right no-border" style="display: table-cell;">
            <div style="display: flex;">
              <button mat-icon-button class="button-small-icon" (click)="onEdit(prod.productId)" matTooltip="Editar">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button class="button-small-icon"  [color]="prod.active ? 'primary' : 'warn'" (click)="onActive(prod)" [matTooltip]="prod.active ? 'Inativar' : 'Ativar'">
                <mat-icon>{{ prod.active ? 'toggle_off' : 'toggle_on'}}</mat-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="existsSelected" align="end" fxFlex="5">
    <button mat-raised-button color="warn" class="right-5" (click)="onRemoveItems()">Excluir item(ns)</button>
    <button mat-raised-button color="primary" [style.color]="'white'" (click)="onGroupProducts()">Agrupar/Unificar</button>
  </div>
  <div class="row pagination" *ngIf="totalRecords > pageSize" fxFlex="6">
    <div class="col page-select">
      <button *ngIf="!showGotoPage" class="small button-page-select" mat-button (click)="onClickShowGotoPage()">
        <mat-icon>auto_stories</mat-icon>
        Ir para
      </button>

      <mat-form-field *ngIf="showGotoPage">
        <mat-label>Ir Para:</mat-label>
        <mat-select [(ngModel)]="pageIndex" (ngModelChange)="onUpdateManualPage($event)">
          <mat-option *ngFor="let page of listPages$" [value]="page.id">{{ page.description }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-auto">
      <mat-paginator [length]="totalRecords" [pageIndex]="pageIndex" [pageSize]="pageSize" aria-label="Select page"
        (page)="onPageEvent($event)" showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>
</div>