@import "~@angular/material/theming";
@import "/src/styles/themes/variables.scss";

.darkMode {
  .lightgray-bg {
    background: rgba(90 90 90 / 0.6);
  }

  .gray-bg {
    background: rgb(106 106 106 / 60%);
  }

  //SELECIONAR-EMPRESA
  .empresa-header {
    background: #303030 !important;
  }

  .notification-container:before,
  .notification-container:after {
    border-bottom-color: #303030 !important;
  }

  mat-row {
    background: #303030 !important;
  }
  .notification-container:before {
    border-bottom-color: rgb(206 206 206 / 60%) !important;
  }

  //TABLE
  .tableHeaderRow {
    background: gray !important;
  }

  mat-row:hover {
    background: rgb(138 138 138 / 60%) !important;
  }

  mat-row.selected {
    background: mat-color($bv-palette-primary, 900, 0.2) !important;
  }

  .mat-tab-label.mat-tab-label-active {
    background-color: mat-color($bv-palette-primary, 900, 0.2) !important;
  }

  .bg-light {
    background-color: mat-color($bv-palette-primary, 900, 0.2) !important;
  }

  .grid-filters {
    border: solid 1px white !important;
    background: none !important;

    @media only screen and (max-width: $mobile) {
      box-shadow: none !important;
    }

    input {
      color: white !important;
    }
  }

  //MENU
  .menu .active {
    background: rgb(90 90 90 / 60%) !important;
  }

  .menu .item.btn.active mat-icon {
    color: whitesmoke !important;
  }

  .menu .sub-item:hover {
    background: rgb(138 138 138 / 60%) !important;
  }

  //COLUMNS

  .columns.opened {
    box-shadow: none !important;
  }

  //LOADING
  .loading-container {
    background: #313131bd !important;
  }

  .menu-background {
    background: #313131bd !important;
  }

  .breadcrumb li a:before {
    border-left-color: #313131bd !important;
  }

  .mat-form-field-appearance-outline .mat-form-field-label {
    color: white !important;
    border-color: white !important;
  }

  .mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-label {
    color: gray !important;
    border-color: gray !important;
  }

  .container {
    background: #303030 !important;
    color: white !important;
  }

  .background-crud {
    background: #303030 !important;
  }

  .button-icon:hover {
    background: none !important;
  }

  .grid-filters {
    .filter:hover {
      background: none !important;
    }
  }
}
